@{
    ViewBag.Title = "Index";
}

<h2>Chart of Account</h2>

<div class="btn-group" role="group">
    <button type="button" class="btn"> Asset </button>
    <button type="button" class="btn"> Liability </button>
    <button type="button" class="btn"> Equity </button>
    <button type="button" class="btn"> Revenue </button>
    <button type="button" class="btn"> Expense </button>
</div>

<div id="ChartofAccountTable">
    <table class="table">
        <thead>
        <tr> Account Name </tr>
        <tr> Type </tr>
        <tr> Balance </tr>
        </thead>
        <tbody id="ChartofAccountTableContent">

        </tbody>
    </table>
</div>v

<script src="~/Scripts/"></script>